* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d0d2dd;
}

#calculator {
    width: 303px;
    height: 411px;
    border: 2px solid #5e5a78;
    background-color: rgba(86, 105, 139, 0.947);
    box-shadow: 1px 1px 10px #5e5a78;
    border-radius: 15px;
    color: aliceblue;
    overflow: hidden;
    #res2 {
        direction: rtl;
        height: 55px;
        width: 100%;
        padding: 10px 10px;
        background-color: rgba(86, 105, 139, 0.947);
        color: aliceblue;
        font-size: 25px;
       
    }
    #res {
        direction: rtl;
        width: 100%;
        padding: 10px 10px;
        background-color: rgba(86, 105, 139, 0.947);
        color: aliceblue;
        font-size: 25px;
       
        
    }

    #res:focus{
        outline: none;
    }
/**
* !Chrome, Safari, Edge, Opera 
**/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        
    }
/**
* !Firefox
**/
input[type=number] {
    -moz-appearance: textfield;
  }
    #buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 74px;
            height: 75px;
        }

        #numbers {
            width: 225px;
            height: 100%;
            display: flex;
            flex-wrap: wrap;

            button {
                background-color: rgb(147, 150, 164);
                color: aliceblue;
            }

            #next-number {
                background-color: #24a92d;
            }

            #delete {
                background-color: #e13d4a;
            }
        }

        #operation {
            button {
                color: aliceblue;
                background-color: #528de7;
            }
        }
    }


}